.img{
    height:60vh;
    border-radius: 2px;
    width:50vw;
}


.comments-container{
    margin-top:20px;
    margin-bottom:20px;
}

.banner-img{
    background-image:url("https://img.freepik.com/free-photo/majestic-mountain-peak-tranquil-wilderness-landscape-generated-by-ai_188544-11011.jpg?size=626&ext=jpg&ga=GA1.2.2009514355.1676907494&semt=sph");
    background-size:cover;
    height:50vh;
}

.leave-comment-container{
    margin-top:40px;
}

.like-btns-container{
    border-radius: 6px;
    /* border-style:solid; */
    width:10%;
    padding:10px;
    box-shadow:2px 2px gainsboro;

    background-color:transparent;
}


.like-or-dislike-btn{
    background-color:transparent;
    border-style:none;
}