.car-item{
     
      background-image:url("https://img.freepik.com/free-photo/majestic-mountain-peak-tranquil-wilderness-landscape-generated-by-ai_188544-11011.jpg?size=626&ext=jpg&ga=GA1.2.2009514355.1676907494&semt=sph");
      background-size:cover;
      height:70vh;
      
}